<link rel="stylesheet" href="./stylesheets/art-site.css">

<section class="top-art-site-section">
	<div class="top-art-site">
	</div>
	<h1 class="top-art-site-text"><strong>Rowan's Art</strong></h1>
	<p class="top-art-site-text2"><strong>Web App/Ecommerce site for Rowan Barson's art</strong></p>
</section>
<section class="info-art-site">
	<div class="right-top-div">
		<hr></hr>
		<br>
		<br>
		<br>
		<p><strong>Client:</strong> DevMountain Solo Project</p>
		<p><strong>My Role:</strong> Creator, Developer</p>
		<a href="https://github.com/Jered-North/art-site" class="view-button">View Git Repository</a>
		<a href="http://rowans-art.herokuapp.com/#/home" class="view-button">View Online</a>
		<br>
		<br>
		<br>
		<p>A mockup of what a gallery site for Rowan Barnson would look like where she is able to display her pieces of art and sell art pieces that she has for sale.

		<p>The site uses sessions with the cart system so that there is no need for logins for seperate users if someone wants to buy art.</p>
	</div>

	<div class="left-top-div">
		<p><strong>Description</strong></p>
	</div>

</section>
<section class="info-art-site-bottom">
	<div class="right-bottom-div">
		<hr></hr>
</section>