<link rel="stylesheet" href="./stylesheets/devhousing.css">

<section class="top-DM-section">
	<div class="top-DM">
	</div>
	<h1 class="top-DM-text"><strong>DevHousing</strong></h1>
	<p class="top-DM-text2"><strong>Web App for DevMountain's housing</strong></p>
</section>
<section class="info-DM">
	<div class="right-top-div">
		<hr></hr>
		<br>
		<br>
		<br>
		<p><strong>Client:</strong> DevMountain Group Project</p>
		<p><strong>My Role:</strong> Front-End Focused Developer</p>
		<a href="https://github.com/DevMountain/dev-housing" class="view-button">View Git Repository</a>
		<a href="http://159.203.195.67/#/login" class="view-button">View Online</a>
		<br>
		<br>
		<br>
		<p>A housing portal for DevMountain, streamlining the process of students entering and exiting the program's housing as well as providing good user experience during the program.
		Made in a group, my part of the group was focused on the HTML and CSS with some backend.

		<p>On the student side, the students can submit work orders and see vital information about what is going on.</p>

		<p>The Admins can assign the students to the housing units in three seperate DevMountain locations and edit FAQ, Work Orders and other vital information.</p>
		</p>

		<p><strong>Dummy logins</strong></p>

		<p>Admin: Email: Bri@gmail.com  Password: testpassword <br> Student: Email: hayden@gmail.com  Password: testpassword</p>
	</div>

	<div class="left-top-div">
		<p><strong>Description</strong></p>
	</div>

</section>
<section class="info-DM-bottom">
	<div class="right-bottom-div">
		<hr></hr>
</section>