        
        <section class="top">
        	<p>&nbsp;</p>
        	<p>&nbsp;</p>
        	<div class="intro-container">
        		<hr class="intro-hr">
        		<p class="intro-name">JERED NORTH</p>
        		<hr class="intro-hr">
        		<p class="intro-developer">Web Developer</p>
        	</div>
        </section>

        <a name="about"></a>
        <section class="about">
        	<div class="about-container">
        		<p class="about-header">ABOUT ME</p>
                <div class="about-left">
                    <div class="about-section">
                        <img class="about-picture" src="./stylesheets/images/office2.JPG">
                        <div class="about-paragraph">
                            <p>I would say I'm your average 22 year old nerd. I grew up with computers and tech around me. I like videogames but I'll get out and hike and be active every now and again, and nothing beats a good night playing board games with family and/or friends.</p>
                        </div>
                    </div>
                    <div class="about-section">
                        <img class="about-picture" src="./stylesheets/images/dev-mountain.png">
                        <div class="about-paragraph">
                            <p>I got into programming after I got back from my mission, I went to DevMountain which is a coding bootcamp. I took the web-development class which is a 3 month class that took me through and taught me the entire MEAN stack.</p>
                        </div>
                    </div>
                </div>
                <div class="about-right">
                    <div class="about-section">
                        <img class="about-picture" src="./stylesheets/images/flag.png">
                        <div class="about-paragraph">
                            <p>I am a member of the Church of Jesus Christ of Latter-day Saints. When I was 18 I left on a two year mission to Guatemala, I met many wonderful people and learned to speak Spanish and also Q'eqch'i which is a Mayan dialect found only in Guatemala and parts of Belize.</p>
                        </div>
                    </div>
                    <div class="about-section">
                        <img class="about-picture" src="./stylesheets/images/office2.JPG">
                        <div class="about-paragraph">
                            <p>I am now happily married and have been for 2 years and hope to have children some time in the future when the time is right. It's been a couple years since I started being a Web-Developer. I still love it and I love how much there is that I can still learn.</p>
                        </div>
                    </div>
                </div>

        	</div>
        </section>

        <a name="technology"></a>
        <section class="technology">
        	<div class="technology-container">
        		<p class="technology-header">TECHNOLOGY</p>
        		<ul class="technology-images-left">
                    <li>
                        <img src="./stylesheets/images/html.png"> 
                        <p>HTML</p>
                    </li>
                    <li>
                        <img src="./stylesheets/images/css.jpeg">  
                        <p>CSS</p>
                    </li>
                    <li>
        			     <img src="./stylesheets/images/js.png">  
                         <p>JAVASCRIPT</p>
                    </li>
                    <li>
        			     <img src="./stylesheets/images/angular.jpeg">
                         <p>ANGULAR JS</p>
                         
                    </li>
                    <li>
                         <img src="./stylesheets/images/php.jpg">
                         <p>PHP</p>
                    </li>
                    <li>
                         <img src="./stylesheets/images/elastic.png">
                         <p>ELASTICSEARCH</p> 
                    </li>
        		</ul>
                <ul class="technology-images-right">
                    <li>
                        <img src="./stylesheets/images/jquery.png"> 
                        <p>JQUERY</p>
                    </li>
                    <li>
                        <img src="./stylesheets/images/mongo.png">  
                        <p>MONGODB</p>
                    </li>
                    <li>
                        <img src="./stylesheets/images/node.png">  
                        <p>NODE JS</p>
                    </li>
                    <li>
                        <img src="./stylesheets/images/git.png">
                        <p>GIT</p>
                    </li>
                    <li>
                         <img src="./stylesheets/images/laravel.png">
                         <p>LARAVEL</p>
                    </li>
                </ul>
        	</div>
        </section>

        <a name="portfolio"></a>
        <section class="portfolio">
        	<div class="portfolio-container">
        		<p class="portfolio-header">PORTFOLIO</p>
        		<div class="projects-container">
                    <div>
        			    <img ui-sref="art-site" src="./stylesheets/images/art-site.png">
                    </div>
                    <div>
        			    <img ui-sref="dev-housing" src="./stylesheets/images/dev-housing.png">
                    </div>
                </div>
                <div class="projects-container" id="projects-row-2">
                    <div>
                        <img ui-sref="plumbersstock" src="./stylesheets/images/plumbersstock.png">
                    </div>
                </div>
        	</div>
        </section>

        <a name="resume"></a>
        <section class="resume">
        	<div class="resume-container">
        		<p class="resume-header">Click here for my</p>
        		<div class="resume-download">
        			<a href="Jered-North-Resume.pdf">Resume</a>
        		<div>
        	</div>
        </section>

        <a name="contact"></a>
        <section class="contact">
        	<div class="contact-container">
        		<p class="contact-header">CONTACT ME</p>
        		<div class="contact-images">
        		</div>
        		<div class="contact-email">
        			<p>Email: jered@thenorths.net</p>
        		</div>
                <a href="https://www.linkedin.com/in/jered-north-64609b113"><img src="./stylesheets/images/linkedin-logo.png"></a>
                <a href="https://github.com/Jered-North"><img src="./stylesheets/images/git-logo.png"></a>
        	</div>
        </section>
