        
        <section class="top">
        	<p>&nbsp;</p>
        	<p>&nbsp;</p>
        	<div class="intro-container">
        		<hr class="intro-hr">
        		<p class="intro-name">JERED NORTH</p>
        		<hr class="intro-hr">
        		<p class="intro-developer">Web Developer</p>
        	</div>
        </section>

        <a name="about"></a>
        <section class="about">
        	<div class="about-paragraph">
        		<p>Born and raised in Utah, I love learning new things and exploring ideas</p>
        	</div>
        </section>

        <a name="skills"></a>
        <section class="skills">
        	<div class="skills-container">
        		<p class="skills-header">SKILLS</p>
        		<div class="skills-images">
        			<img src="./stylesheets/images/html.png">
        			<img src="./stylesheets/images/css.jpeg">
        			<img src="./stylesheets/images/js.png">
        			<img src="./stylesheets/images/angular.jpeg">
        		</div>
                <div class="skills-images">
                    <img src="./stylesheets/images/jquery.png">
                    <img src="./stylesheets/images/mongo.png">
                    <img src="./stylesheets/images/node.png">
                    <img src="./stylesheets/images/git.png">
                </div>
        	</div>
        </section>

        <a name="portfolio"></a>
        <section class="portfolio">
        	<div class="portfolio-container">
        		<p class="portfolio-header">PORTFOLIO</p>
        		<div class="projects-container">
        			<img ui-sref="art-site" src="./stylesheets/images/art-site.png">
        			<img ui-sref="dev-housing" src="./stylesheets/images/dev-housing.png">
        		</div>
        	</div>
        </section>

        <a name="resume"></a>
        <section class="resume">
        	<div class="resume-container">
        		<p class="resume-header">Click here for my</p>
        		<div class="resume-download">
        			<a href="Jered-North-Resume.pdf">Resume</a>
        		<div>
        	</div>
        </section>

        <a name="contact"></a>
        <section class="contact">
        	<div class="contact-container">
        		<p class="contact-header">CONTACT ME</p>
        		<div class="contact-images">
        		</div>
        		<div class="contact-email">
        			<p>Email: jered@thenorths.net</p>
        		</div>
                <a href="https://www.linkedin.com/in/jered-north-64609b113"><img src="./stylesheets/images/linkedin-logo.png"></a>
                <a href="https://github.com/Jered-North"><img src="./stylesheets/images/git-logo.png"></a>
        	</div>
        </section>
