<link rel="stylesheet" href="./stylesheets/plumbersstock.css">

<section class="top-plumbersstock-section">
	<div class="top-plumbersstock">
	</div>
	<h1 class="top-plumbersstock-text"><strong>Plumbersstock</strong></h1>
	<p class="top-plumbersstock-text2"><strong>Ecommerce site</strong></p>
</section>
<section class="info-plumbersstock">
	<div class="right-top-div">
		<hr></hr>
		<br>
		<br>
		<br>
		<p><strong>Client:</strong> DevMountain Solo Project</p>
		<p><strong>My Role:</strong> Developer</p>
		<a href="http://www.plumbersstock.com" class="view-button">View Online</a>
		<br>
		<br>
		<br>
		<p>A web Ecommerce site used by Go Green inc.

	</div>

	<div class="left-top-div">
		<p><strong>Description</strong></p>
	</div>

</section>
<section class="info-plumbersstock-bottom">
	<div class="right-bottom-div">
		<hr></hr>
</section>