<link rel="stylesheet" href="./stylesheets/plumbersstock.css">

<section class="top-plumbersstock-section">
	<div class="top-plumbersstock">
	</div>
	<h1 class="top-plumbersstock-text"><strong>Plumbersstock</strong></h1>
	<p class="top-plumbersstock-text2"><strong>Ecommerce site</strong></p>
</section>
<section class="info-plumbersstock">
	<div class="right-top-div">
		<hr></hr>
		<br>
		<br>
		<br>
		<p><strong>Website Use:</strong> Main Ecommerce site used by GoGreen Enterprises Inc.</p>
		<p><strong>My Role:</strong> Developer, Employee for GoGreen </p>
		<a href="http://www.plumbersstock.com" class="view-button">View Online</a>
		<br>
		<br>
		<p>Plumbersstock.com is the main eCommerce site created, mantained and used by GoGreen Ent. Inc. to sell plumbing supplies across the country.
		</p>
		<p>I have done tasks with a variety of the front end functionality and look of the site. Making them friendly for all screen sizes, from mobile to tablet to desktop.</p>
		<p>I have also been tasked to improve and maintain the search functionality of the site using ElasticSearch. Refactoring code for a newer version to bring more accurate and faster searching as well as auto-complete and suggestion among other new features and functionality for search.</p>
		<br>
		<br>
		<br>
		<p><strong>Technology Used:</strong> HTML, CSS, JavaScript AJAX, MongoDB, mySQL, Laravel, ElasticSearch,</p>
		<br>

	</div>

	<div class="left-top-div">
		<p><strong>Description</strong></p>
	</div>

</section>
<section class="info-plumbersstock-bottom">
	<div class="right-bottom-div">
		<hr></hr>
</section>