body {
	background: black;
}

.top-art-site-section {
	height: 80vh;
}

.top-art-site {
	height: 80vh;
	background: url("./images/art-site.png") center;
	background-size: cover;
	background-position-y: 40px;
	opacity: 0.6;
}

.top-art-site-text {
	position: relative;
	margin-bottom: 15px;
	left: 100px;
	bottom: 200px;
	color: white;
	font-size: 50px;
}

.top-art-site-text2 {
	position: relative;
	left: 100px;
	bottom: 200px;
	color: white;
	font-size: 25px;
}

.info-art-site {
	padding-left: 110px;
	padding: 60px;
	height: 510px;
	background: white;
}

.view-button {
	padding: 8px;
	width: 190px;
	margin-left: 20px;
    position: relative;
    top: -75px;
	height: 40px;
	float: right;
	font-size: 20px;
	background: white;
	border: solid 2px black;
	text-decoration: none;
	text-align: center;
	color: black;
}

.view-button:hover {
	background-color: black;
	color: white;
}

.info-art-site-bottom {
	padding: 60px;
	height: 100px;
	background: white;
}

	.right-top-div {
		width: 80%;
		float: right;
	}

		.right-top-div p {
			line-height: 26px;
			margin-bottom: 20px;
			font-size: 20px;
		}

	.left-top-div {
		width: 20%;
		float: left;
	}

	.right-bottom-div {
		width: 80%;
		float: right;
	}

	.left-bottom-div {
		width: 20%;
		float: left;
	}

.next-button {
	width: 200px;
	float: right;
}

.arrow {
	width: 30px;
	float: right;
}