body {
	padding: 0px;
	margin: 0px;
}

.main-header {
	width: 98.9vw;
	position: fixed;
	padding-top: 15px;
    padding-bottom: 15px;
    z-index: 20;
	background-color: black;
}
	nav {
		text-align: right;
	}

	.nav-links {
		text-decoration: none;
		color: white;
		margin-right: 30px;
		font-size: 14px;
		font-weight: bold;
	}

.top {
	height: 100vh;
	background-color: grey;
	color: white;
	padding-top: 100px;
	padding-bottom: 100px;
	background: url("./images/office2.JPG");
	background-size: cover;
}

	.intro-hr {
		width: 50%;
	}
	
	.intro-container {
		width: 60%;
		height: 400px;
		margin: auto;
		font-size: 45px;
		text-align: center;
	}

.about {
	height: 100vh;
	padding-top: 100px;
	padding-bottom: 100px;
	background: black;
	color: white;
}
	
	.about-header {
		margin-bottom: 60px;
	}

	.about-container {
		width: 80%;
		margin: auto;
		text-align: center;
		font-size: 40px;
	}

	.about-paragraph {
		margin-left: 50px;
	}

	.about-paragraph p {
		font-size: 35px;
	}

.technology {
	height: 100vh;
	padding-top: 100px;
	padding-bottom: 100px;
	min-width: 980px;
}

	.technology-header {
		margin-bottom: 60px;
		text-align: center;
	}

	.technology-container {
		width: 80%;
		margin: auto;
		font-size: 40px;
	}

	.technology-images-left {
		display: inline-block;
		float: left;
		width: 50%;
		min-width: 390px;
	}

	.technology-images-right {
		display: inline-block;
		float: right;
		width: 50%;
		min-width: 390px;
	}

	.technology-images-left img, .technology-images-right img {
		height: 75px;
		width: 75px;
	}

	.technology-images-left li, .technology-images-right li {
		padding-left: 140px;
	}

	.technology-images-left p, .technology-images-right p {
		display: inline-block;
		font-size: 20px;
	}

.portfolio {
	height: 100vh;
	background: url("./images/cells.jpg") center;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

	.portfolio-header {
		margin-bottom: 55px;
	}

	.portfolio-container {
		width: 80%;
		margin: auto;
		text-align: center;
		font-size: 40px;
	}

	.projects-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.projects-container div {
		height: 257px;
		width: 440px;
		margin-right: 30px;
		margin-bottom: 30px;
		border: solid white 2px;
		cursor: pointer;
		position: relative;
		background-color: black;
		color: white;
	}

	.projects-container div img {
		height: 100%;
		width: 100%;
		position: relative;
	}

	.projects-container div img:hover {
		opacity: 0.6;
	}


	#projects-row-2 {
		justify-content: center;
	}

		@media (min-width: 1281px) {
   			.projects-container img {
      			height: 315px;
				width: 535px;
      			}

      		}

.resume {
	height: 500px;
	background: url("./images/wood.jpg") center;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

	.resume-header {
		margin-bottom: 80px;
	}

	.resume-container {
		width: 80%;
		margin: auto;
		text-align: center;
		font-size: 40px;
	}

	.resume-download a {
		margin: auto;
		padding: 30px;
		background-color: green;
		border-radius: 20px;
		border: none;
		font-size: 30px;
		text-decoration: none;
		color: white;
	}

	.resume-download a:hover {
		color: blue;
	}


.contact {
	background-color: #1f1f1f;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

	.contact-header {
		margin-bottom: 80px;
	}

	.contact-container {
		width: 80%;
		margin: auto;
		text-align: center;
		font-size: 40px;
	}

		.contact-container img {
			margin-top: 50px;
			margin-right: 20px;
			width: 100px;
			border-radius: 50px;
			border: solid white 2px;
		}