body {
	padding: 0px;
	margin: 0px;
}

.main-header {
	padding-top: 30px;
	background-color: black;
}
	nav {
		text-align: right;
	}

	.nav-links {
		color: white;
		margin-right: 30px;
		font-size: 14px;
		font-weight: bold;
	}

.top {
	height: 100vh;
	background-color: grey;
	padding-top: 100px;
	padding-bottom: 100px;
	background: url("./img/creek.jpg");
	background-size: cover;
}

	.intro-hr {
		width: 50%;
	}
	
	.intro-container {
		width: 60%;
		height: 400px;
		margin: auto;
		font-size: 45px;
		text-align: center;
	}

.social {
	height: 100vh;
	background: url("./img/mountains1.jpg");
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
}

.skills {
	height: 100vh;
	background-color: #1f1f1f;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

	.skills-container {
		width: 80%;
		margin: auto;
		text-align: center;
		font-size: 40px;
	}

	.skills-images {
		display: flex;
		flex-direction: row;
	}

.portfolio {
	height: 100vh;
	background: url("./img/cells.jpg") center;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

	.portfolio-container {
		width: 80%;
		margin: auto;
		text-align: center;
		font-size: 40px;
	}

	.projects-container {
		display: flex;
		flex-direction: row;
	}

.resume {
	height: 100vh;
	background: url("./img/wood.jpg") center;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

	.resume-container {
		width: 80%;
		margin: auto;
		text-align: center;
		font-size: 40px;
	}

.contact {
	height: 100vh;
	background-color: #1f1f1f;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

	.contact-container {
		width: 80%;
		margin: auto;
		text-align: center;
		font-size: 40px;
	}