body {
	padding: 0px;
	margin: 0px;
}

.main-header {
	padding-top: 15px;
    padding-bottom: 15px;
	background-color: black;
}
	nav {
		text-align: right;
	}

	.nav-links {
		color: white;
		margin-right: 30px;
		font-size: 14px;
		font-weight: bold;
	}

.top {
	height: 100vh;
	background-color: grey;
	padding-top: 100px;
	padding-bottom: 100px;
	background: url("./img/creek.jpg");
	background-size: cover;
}

	.intro-hr {
		width: 50%;
	}
	
	.intro-container {
		width: 60%;
		height: 400px;
		margin: auto;
		font-size: 45px;
		text-align: center;
	}

.social {
	height: 100vh;
	background: url("./img/mountains1.jpg");
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 100px;
}

	.social-paragraph {
		margin-left: 50px;
	}

	.social-paragraph p {
		font-size: 35px;
	}

.skills {
	height: 100vh;
	padding-top: 100px;
	padding-bottom: 100px;
}

	.skills-header {
		margin-bottom: 60px;
	}

	.skills-container {
		width: 80%;
		margin: auto;
		text-align: center;
		font-size: 40px;
	}

	.skills-images {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 75px;
	}

	.skills-images img {
		height: 125px;
	}

.portfolio {
	height: 100vh;
	background: url("./img/cells.jpg") center;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

	.portfolio-header {
		margin-bottom: 75px;
	}

	.portfolio-container {
		width: 80%;
		margin: auto;
		text-align: center;
		font-size: 40px;
	}

	.projects-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.projects-container img {
		height: 257px;
		border: solid black 2px;
		cursor: pointer;
	}

		@media (min-width: 1200px) {
   			 .projects-container img {
      			height: 315px; }
      		}

.resume {
	height: 100vh;
	background: url("./img/wood.jpg") center;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

	.resume-header {
		margin-bottom: 80px;
	}

	.resume-download {
		width: 240px;
		height: 100px;
		margin: auto;
		padding-top: 35px;
		background-color: green;
		border-radius: 20px;
		border: none;
		font-size: 30px;
		text-decoration: none;
		cursor: pointer;
	}

	.resume-download a:visited {
		color: white;
	}

	.resume-container {
		width: 80%;
		margin: auto;
		text-align: center;
		font-size: 40px;
	}

.contact {
	height: 100vh;
	background-color: #1f1f1f;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

	.contact-header {
		margin-bottom: 80px;
	}

	.contact-container {
		width: 80%;
		margin: auto;
		text-align: center;
		font-size: 40px;
	}

		.contact-container img {
			margin-top: 50px;
			margin-right: 20px;
			width: 100px;
			border-radius: 50px;
			border: solid white 2px;
		}