        <section class="top">
        	<p>&nbsp;</p>
        	<p>&nbsp;</p>
        	<div class="intro-container">
        		<hr class="intro-hr">
        		<p class="intro-name">JERED NORTH</p>
        		<hr class="intro-hr">
        		<p class="intro-developer">Web Developer</p>
        	</div>
        </section>

        <section class="social">
        	<div class="social-paragraph">
        		<p>Born and raised in Utah, I love learning new things and exploring ideas</p>
        	</div>
        </section>

        <section class="skills">
        	<div class="skills-container">
        		<p class="skills-header">SKILLS</p>
        		<div class="skills-images">
        			<img src="./stylesheets/img/html.png">
        			<img src="./stylesheets/img/css.jpeg">
        			<img src="./stylesheets/img/js.png">
        			<img src="./stylesheets/img/angular.jpeg">
        		</div>
                <div class="skills-images">
                    <img src="./stylesheets/img/jquery.png">
                    <img src="./stylesheets/img/mongo.png">
                    <img src="./stylesheets/img/node.png">
                    <img src="./stylesheets/img/git.png">
                </div>
        	</div>
        </section>

        <section class="portfolio">
        	<div class="portfolio-container">
        		<p class="portfolio-header">PORTFOLIO</p>
        		<div class="projects-container">
        			<img ui-sref="art-site" src="./stylesheets/img/art-site.png">
        			<img ui-sref="dev-housing" src="./stylesheets/img/dev-housing.png">
        		</div>
        	</div>
        </section>

        <section class="resume">
        	<div class="resume-container">
        		<p class="resume-header">Click here for my</p>
        		<div class="resume-download">
        			<a href="Jered-North-Resume.pdf">Resume</a>
        		<div>
        	</div>
        </section>

        <section class="contact">
        	<div class="contact-container">
        		<p class="contact-header">CONTACT ME</p>
        	</div>
        </section>